.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul li.active {
  color: red;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1990px;
  width: 100%;
  margin-left: auto;
  margin-right: atuo;
}

.city-item__list {
  display: flex;
  align-items: center;
}

.city-item__list img {
  margin-right: 10px;
}